body {
  overflow: hidden;
}
header {
  height: 60px;
  border-bottom: 1px solid #333;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}
